<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <% include partials/header.ejs %>
        <% include partials/angularFiles.ejs %>
        <script src="/assets/js/calendar.js" charset="utf-8"></script>

        <script src="/assets/lib/socket.io.js"></script>
        <script type="text/javascript">
            // Connection / Joining to the socket server
            const serverHostname = window.location.protocol + "//" + window.location.hostname + ":" + location.port;
            const socket = io.connect(serverHostname, {secure: true});

            // Declaring costants from config
            const popupSpeed        = <%= popupSpeed %>;
            const prepareMaxLength  = <%= prepareMaxLength %>;
            const noTestMsg         = "<%= noTestMsg %>";
        </script>
        <script src="/assets/js/popup.js" charset="utf-8"></script>
        <script src="/assets/js/testLookup.js" charset="utf-8"></script>
    </head>
    <body>

        <!-- BOOKINGS SECTION -->

        <section class="section section-bookings">
            <div class="container centered box">
            <center>
                <section class="section-title">
                    <!-- BOOK ICON W/ TITLE -->
                    <h4>
                        <span><% include icons/book.ejs %><b><%= title %></b></span>
                    </h4>
                </section>

                <!-- CALENDAR -->
                <span>Select Date</span>
                <div ng-controller="AppController as appCtrl" ng-cloak class="datepickerDemo" ng-app="MyApp">
                    <% include partials/calendar.ejs %>
                </div>

                <br>

                <!-- GRADE -->
                <span>Select Grade</span>
                <br>
                <% include partials/grades.ejs %>

                <br><br>

                <!-- SUBMIT BUTTON -->
                <button type="submit" class="btnLookup button-primary">look up for tests</button>

                <!-- ADD A TEST LINK 4 TEACHERS -->
                <br>
                <a href="/panel" id="add-test-link">book a test</a>

            </center>
            </div>
        </section>

        <div class="overlay">
            <div class="container centered popup box">
                <a class="close" href="#" onclick="closePopupWin()">&times;</a>

                <ul class="tests-list">
                    <!-- POPUP TESTS LIST WILL SHOW HERE -->
                </ul>
            </div>
        </div>

        <!-- COPYRIGHT SECTION -->
        <% include partials/copyright.ejs %>

    </body>
</html>
