/* .section-title b {
    font-size: 4rem;
    letter-spacing: .1rem;
} */

.login-form {
    margin: auto;
}

.err-msg {
    color: red;
    font-weight: 600;
}

.success-msg {
    color: rgb(14, 199, 118);
    font-weight: 600;
}
