.section-preheading {
    font-size: 1.7rem;
}

.section-dashboard .container {
    width: 80vw;
    max-width: 550px;
}

.section-dashboard .row {
    display: flex;
}

.box {
    min-width: 0;
    max-width: none;
    margin: .5rem;
    border-radius: 5px;
    -webkit-box-shadow: 0px 2px 6px 0px rgba(125,125,125,0.7);
    -moz-box-shadow: 0px 2px 3px 0px rgba(125,125,125,0.7);
    box-shadow: 0px 2px 3px 0px rgba(125,125,125,0.7);
}

.cover-box {
    max-width: none;
    min-width: none;
    width: 90vw;
    height: 90vh;
}

.section-profile .box {
    padding: 1.5rem;
}

.section-heading {
    font-size: 2rem;
    font-weight: 500;
}

.panel-heading {
    width: 17rem;
    margin: auto;
    margin-bottom: -3rem;
}

.dashboard {
    flex: 1;
    /* background: rgba(88, 201, 237, 1.2); */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
    background-color: rgb(13, 43, 88);
    color: #fff;
    padding: 0;
}

.dashboard ul {
    margin: 0;
    padding: 0;
}

.dashboard ul li {
    padding: none;
    list-style: none;
    border-bottom: 1px solid rgb(6, 29, 64);
    width: 100%;
    height: 100%;

    position: relative;
    height: 0;
    width: 100%;
    padding: 0;
    padding-bottom: 100%;
}

.dashboard ul li:last-child {
    border-bottom: none;
}

.dashboard ul li .fa, svg {
    position: absolute;
    margin: auto;
    height: 70%;
    width: 70%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;

    cursor: pointer;
}

.dashboard ul li p {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%,130%);
    -ms-transform: translate(-50%,130%);

    font-weight: bold;
    font-size: .85em;
}

.dashboard ul li .fa:hover, svg:hover {
    width: 74%;
    height: 74%;
}

.panel {
    max-height: 80vh;
    overflow-y: scroll;
}

.panel .tab {
    margin: 1.1rem;
}

.panel .section-book form label {
    font-weight: normal;
}

.calendar {
    border-bottom: none;
    margin-left: -1.5rem;
}



.section-book {display: block}
.section-teacher-bookings {display: none}
.section-settings {display: none}


/* BOOKINGS TAB */

hr {
    margin: 1rem 0 1rem;
}

.bookings-list .booking-block {
    width: 100%;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16);
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16);
}

.bookings-list .booking-block:hover {
    -webkit-box-shadow: 0px 2px 6px 0px rgba(125,125,125,0.7);
    -moz-box-shadow: 0px 2px 3px 0px rgba(125,125,125,0.7);
    box-shadow: 0px 2px 3px 0px rgba(125,125,125,0.7);
}

.bookings-list .booking-block .booking-components div {
    display: inline-block;
    text-align: center;
    padding: 0;
    margin: 0;
}

.booking-components .num {
    width: 6%;
    background: rgb(44, 64, 100);
    color: #fff;
    font-size: 1.3em;
}

.booking-components .date {
    width: 26%;
}

.booking-components .subject {
    width: 38%;
}

.booking-components .grade {
    width: 10%;
}

.booking-components .edit {
    width: 10%;
    background: #3ec4ee;
    color: #fff;
    font-size: 1.3em;
    cursor: pointer;
}

.booking-components .remove {
    width: 10%;
    background: rgb(244, 31, 71);
    color: #fff;
    font-size: 1.3em;
    cursor: pointer;
}

.bookings-list .names {
    background: transparent !important;
    box-shadow: none !important;
    padding-bottom: .4rem;
}

.bookings-list .names .num {
    background: transparent !important;
    color: #222;
}

.booking-block .names .empty {
    width: 20%;
}

.popup {
    max-width: 50rem;
}

label {
    font-weight: normal;
    color: #222;
}

.account .logout {
    color: rgb(231, 15, 56) !important;
}

svg.key {
    position: relative;
    width: 1.6rem;
    cursor: auto;
}

svg.key:hover {
    width: 1.6rem;
}

@media screen and (max-width: 549px) {

    .section-dashboard .container {
        min-width: 30rem;
    }

    .section-dashboard .row {
        display: block;
    }

    .dashboard {
        flex: none;
        text-align: center;
    }

    .dashboard nav ul {
        margin-top: -2rem;
        margin-bottom: -1rem;
    }

    .dashboard nav ul li {
        display: inline-block;
        max-width: 30%;
        border-bottom: none;
        padding-bottom: 10rem;
    }

    .dashboard nav ul li .fa, svg {
        width: 60%;
        height: 60%;
    }

    .dashboard ul li .fa:hover, svg:hover {
        width: 64%;
        height: 64%;
    }

    .panel {
        max-height: 60vh;
    }

    .booking-components .grade {
        width: 0%;
    }

    .booking-components .num {
        width: 0%;
    }

    .booking-components .subject {
        width: 54%;
    }

    .booking-block .names .grade {
        visibility: hidden;
        width: 0%;
    }

    .booking-block .names .num {
        visibility: hidden;
        width: 0%;
    }

    .booking-block .names .subject {
        width: 54%;
    }

}

@media screen and (max-width: 399px) {

    .booking-components .subject {
        font-size: .85em;
    }

    .booking-components .date {
        font-size: .85em;
    }

}
