html, body {
    height: 100%;
    background: #fb7385; /* For older browsers that may not support gradients */
    background-image: linear-gradient(to right, #fb7385, #fe9f57);
    background-image: -webkit-linear-gradient(to right, #fb7385, #fe9f57);
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}

/* button.button-primary {
    background-color: #59dd87;
    border: none;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
} */

.section-title {
    text-align: center;
}

.section-title svg {
    vertical-align: middle;
    animation-name: float;
    animation-duration: 2.2s;
    animation-iteration-count: infinite;
    -webkit-animation-name: float;
    -webkit-animation-duration: 2.2s;
    -webkit-animation-iteration-count: infinite;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-10px);
	}
	100% {
		transform: translatey(0px);
	}
}

@-webkit-keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-10px);
	}
	100% {
		transform: translatey(0px);
	}
}

.box {
    background-color: rgb(250, 250, 250);
    max-width: 35rem;
    padding: .8rem;
    border-radius: 25px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16);
}

.section-bookings button {
    font-size: 1.2rem;
    width: 24rem;
}

.section-bookings button:hover {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16);
}

.section-bookings .btnLookup:hover {
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
    /* box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16); */

}

.datepickerDemo .validation-messages {
  font-size: 12px;
  color: darkred;
}

.calendar {
    border-bottom: 1px solid rgb(134, 142, 150);
    width: 24rem;
}

.grade-option {
    width: 24rem;
    font-size: 1.2rem;
    /* margin-left: 19px; */
}

#add-test-link {
    color: #3ec4ee;
    letter-spacing: .2rem;
    font-size: 1.3rem;
    text-decoration: none;
    font-weight: 550;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
    overflow-y: scroll;
    border-radius: 10px;
    max-width: 40rem;
    max-height: 60vh;
}

.popup .close {
    position: absolute;
    top: -1rem;
    right: 1rem;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: #3EC4EE;
}

.tests-list {
    font-size: 1.1em;
    margin-left: 15px;
    margin-top: 12px;
    line-height: 2.1ex;
}

.tests-list .test-heading {
    font-size: 1.2em;
}

.tests-list .more {
    display: none;
}

.btnMore {
    text-decoration: none;
    font-weight: 600;
    font-size: 1.5em;
    vertical-align: middle;
    color: #000 !important;
}
.btnMore:hover {
    color: #3EC4EE !important;
}

.copyright-section {
    width: 95%;

    position:absolute;
    left:50%;
    bottom:0;
    transform:translate(-50%,0%);
    -ms-transform:translate(-50%,0%);
    -webkit-transform:translate(-50%,0%);

    text-align: center;
    font-size: 1.2rem;
    /* color: rgb(134, 142, 150); */
    color: #fff;
    padding: .6rem;
}
