<form action="" method="POST">
    <h5 class="section-heading">Book a Test</h5>
    <label for="date">Select Date</label>
    <% include ../calendar.ejs %>
    <br>
    <label for="grade">Select Grade</label>
    <select name="grade">
        
    </select>
</form>
